@model IEnumerable<WebApp.Models.TurnModel>

@{
    ViewBag.Title = "Turnos";
}

<h2 class="titlePage">Turnos</h2>
<ul id="listOfButton">
    @Html.ActionLink("Turno Mañana", "MorningShift", "Shift", new { area = "" }, new { @class = "button" })
    @Html.ActionLink("Turno Tarde", "LateShift", "Shift", new { area = "" }, new { @class = "button" })
    @Html.ActionLink("Turno Noche", "NightShift", "Shift", new { area = "" }, new { @class = "button" })
</ul>
@if (@Model != null && Model.Count() != 0)
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre y Apellido</th>
                <th>Hora Ingreso</th>
                <th>Hora Egreso</th>
                <th>Hs Trabajadas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                <tr>
                    <td>@item.EmployeeId</td>
                    <td>@item.Name</td>
                    <td>@item.CheckIn</td>
                    <td>@item.CheckOut</td>
                    @if (item.CheckIn == null || item.CheckOut == null)
                    {
                   <a href="newHourIn?Id=@item.EmployeeId" class="button">Agregar</a>
                   
                    }
                    
                </tr>

            }
        </tbody>
    </table>
}
