@model IEnumerable<WebApp.Models.TurnModel>

@{
    ViewBag.Title = "Turnos";
}

<h2 class="titlePage">Turnos</h2>
<ul id="listOfButton">
    @Html.ActionLink("Turno Mañana", "MorningShift", "Shift", new { area = "" }, new { @class = "button" })
    @Html.ActionLink("Turno Tarde", "LateShift", "Shift", new { area = "" }, new { @class = "button" })
    @Html.ActionLink("Turno Noche", "NightShift", "Shift", new { area = "" }, new { @class = "button" })
</ul>
@if (@Model != null && Model.Count() != 0)
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre y Apellido</th>
                <th>Hora Ingreso</th>
                <th>Hora Egreso</th>
                <th>Hs Trabajadas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                <tr>
                    <td>@item.EmployeeId</td>
                    <td>@item.Name</td>
                    @if (item.CheckIn == null)
                    {
                        <td> - - </td>
                        <td> - - </td>
                        <td> - - </td>
                        <td>
                            <a href="newHourIn?Id=@item.EmployeeId" class="button">Agregar</a>
                        </td>
                    }
                    else
                    {
                        <td>@item.CheckIn.Value.TimeOfDay</td>

                        if (item.CheckOut == null)
                        {
                            <td> - - </td>
                            <td> - - </td>
                            <td>
                                <a href="newHourIn?Id=@item.EmployeeId" class="button">Agregar</a>
                            </td>
                        }
                        else
                        {
                            <td>@item.CheckOut.Value.TimeOfDay</td>
                            <td>@item.CheckOut.Value.TimeOfDay.Subtract(item.CheckIn.Value.TimeOfDay)</td>
                        }
                    }
                </tr>

            }
        </tbody>
    </table>
}
