@model List<WebApp.Models.TurnModel>

@{
    ViewBag.Title = "Salario";
    decimal total = 0.0m;
}

<h2 class="titlePage">Salario</h2>


<br />

<h4>Empleado: @Model.FirstOrDefault().Name</h4>

<br />

<form action="Salary" method="post">
    <input type="number" name="id" value="@Model.FirstOrDefault().EmployeeId" hidden readonly />
    Seleccione un mes:
    <input type="month" name="date" required />

    <button type="submit" class="button">Sueldo</button>
</form>
<br />
<table>
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Entrada
            </th>
            <th>
                Salida
            </th>
            <th>
                Horas Trabajas
            </th>
            <th>
                Monto
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            decimal monto = 0.0m;
            <tr>
                @if (item.CheckIn != null)
                {
                    <td>@item.CheckIn.Value.ToShortDateString()</td>
                    <td>@item.CheckIn.Value.TimeOfDay</td>

                    if (item.CheckOut == null)
                    {
                        <td>- -</td>
                        <td> - - </td>
                        <td> - - </td>
                    }
                    else
                    {
                        monto = decimal.
                            Parse(item.CheckOut.Value.TimeOfDay.
                            Subtract(item.CheckIn.Value.TimeOfDay).
                            TotalHours.ToString()) * item.Price;
                        <td>@item.CheckOut.Value.TimeOfDay</td>
                        <td>@item.CheckOut.Value.TimeOfDay.Subtract(item.CheckIn.Value.TimeOfDay)</td>
                        <td>@monto</td>
                    }
                    total = total + monto;
                }
                else
                {
                    <td>- -</td>
                    <td> - - </td>
                    <td> - - </td>
                    <td> - - </td>
                    <td> - - </td>
                }
            </tr>
        }
        <tr>
            <td>Total a cobrar:</td>
            <td></td>
            <td></td>
            <td>$</td>
            <td>@total</td>
        </tr>
    </tbody>
</table>